<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DatePickerCustomization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82CCB2F91D66A12A00DFA32F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82CCB30D1D66A12A00DFA32F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82CCB3181D66A12A00DFA32F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
